* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

    .menu a {
        background-color: #e5e5e5;
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 100%;
        color: black;
    }

.main {
    width: 40%;
    padding: 0 20px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

@media only screen and (max-width:620px) {
    .menu, .main, .right {
        width: 100%;
    }
}

.button {
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #4eb8ce;
    border: none;
    box-shadow: 0 9px #999;
    margin: 5px;
}

    .button:hover {
        background-color: red;
        color: white;
    }

    .button:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.divs {
    background-color: #222431;
    border: 10px groove red;
    padding: 20px;
    margin: 0px 1000px 0px 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #222431;
}

li {
    float: left;
    cursor: pointer;
}

    li a {
        display: inline-block;
        color: #222431;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #222431;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid white;
        }

        li a:active {
            background-color: #222431;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid red;
        }

.btn {
}

.active {
    background-color: #222431;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.styled select {
    width: 100%;
    border: 1px solid #CCC;
}

.styled {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid red;
    background-color: white;
}

p, h2 {
    color: white;
}
